*{
    background-color: yellow;
    font-size: 24px;
}

#titulo{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    color: blue;
}

.btn{
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-radius: 50px;
    border: 2px solid black;
    color: black;
}