*{
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

button{
    color: black;
}

input{
    color: black;
}

ul li{
    color: white;
}
